/* Forms */
/************************************************/

input,
textarea,
select,
label {
  display: inline-block;
  margin: 0;
  font-family: $font-body;
  font-size: $font-body-text-size;
  line-height: $font-body-text-line-height;
  color: $color-form-input-text;
  -webkit-font-smoothing: antialiased;
}

label {
  padding: 6px 0 9px 0;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  padding: 5px 9px 8px 9px;
  border: 1px solid $color-form-input-outline;
  background: $color-form-input-background;
  @include box-sizing(border-box);
  @include border-radius(2px);
}


input[type="checkbox"],
input[type="radio"] {}





form.ns-form-basic {
  @include span-columns(12 omega, 12);
  .ns-form-row {
    margin: 0 0 20px 0;
    @include span-columns(12 omega, 12);
    .ns-form-row-left {
      @include span-columns(3, 12);
      @include screen-format(phone) {
        width: 100%;
      }
      @include screen-format(nano) {
        width: 100%;
      }
      > label {
        font-weight: 700;
      }
    }
    .ns-form-row-right {
      @include span-columns(9 omega, 12);
      @include screen-format(phone) {
        width: 100%;
      }
      @include screen-format(nano) {
        width: 100%;
      }
      > input[type="date"],   > input[type="datetime"],
      > input[type="datetime-local"],
      > input[type="email"],  > input[type="month"],
      > input[type="number"], > input[type="password"],
      > input[type="search"], > input[type="tel"],
      > input[type="text"],   > input[type="time"],
      > input[type="url"],    > input[type="week"],
      > select,               > textarea {
        width: 100%;
        @include box-sizing(border-box);
      }
    }
  }
}








