.ns-table-utilities {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0 0 6px 0;
  .ns-table-utilities-left,
  .ns-table-utilities-right {
    display: inline-block;
    float: left;
    @include screen-format(tablet) {
      width: 100%;
    }
    > input[type="date"],
    > input[type="datetime"],
    > input[type="datetime-local"],
    > input[type="email"],
    > input[type="month"],
    > input[type="number"],
    > input[type="password"],
    > input[type="search"],
    > input[type="tel"],
    > input[type="text"],
    > input[type="time"],
    > input[type="url"],
    > input[type="week"],
    > select,
    > textarea {
      float: left;
      width: 225px;
      margin: 0 10px 10px 0;
      @include screen-format(nano) {
        width: 100%;
      }
    }
    > .ns-button,
    > input[type="submit"],
    > input[type="button"],
    > input[type="reset"],
    > button {
      float: left;
      margin: 0 5px 10px 0;
      @include screen-format(tablet) {
        width: 100%;
        margin: 0 0 10px 0;
      }
      @include screen-format(phone) {
        width: 100%;
        margin: 0 0 10px 0;
      }
      @include screen-format(nano) {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
  .ns-table-utilities-right {
    float: right;
    @include screen-format(tablet) {
      width: 100%;
    }
    @include screen-format(phone) {
      width: 100%;
    }
    @include screen-format(nano) {
      width: 100%;
    }
    > input[type="date"],
    > input[type="datetime"],
    > input[type="datetime-local"],
    > input[type="email"],
    > input[type="month"],
    > input[type="number"],
    > input[type="password"],
    > input[type="search"],
    > input[type="tel"],
    > input[type="text"],
    > input[type="time"],
    > input[type="url"],
    > input[type="week"],
    > select,
    > textarea {
      float: right;
      margin: 0 0 10px 5px;
      @media (max-width: 1400px) {
        float: right;
        margin: 0 0 10px 10px;
      }
      @include screen-format(tablet) {
        float: left;
        margin: 0 10px 10px 0;
      }
      @include screen-format(phone) {
        width: 100%;
        margin: 0 0 10px 0;
      }
      @include screen-format(nano) {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
    > .ns-button,
    > input[type="submit"],
    > input[type="button"],
    > input[type="reset"],
    > button {
      float: left;
      margin: 0 0 10px 5px;
      @include screen-format(tablet) {
        width: 100%;
        margin: 0 0 10px 0;
      }
      @include screen-format(phone) {
        width: 100%;
        margin: 0 0 10px 0;
      }
      @include screen-format(nano) {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
}


.ns-table-wrapper {
  width: 100%;
  overflow-x: scroll;
  min-height: 150px;
}
table.ns-table {
  width: 100%;
  margin: 0 0 40px 0;
  background: $color-page-background;
  > colgroup {
    > col {}
  }
  > thead {
    > tr {
      > th {
        padding: 5px 10px 5px 10px;
        font-family: $font-header;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        background: $color-table-header-background;
      }
      > th.ns-sortable-column {
        cursor: pointer;
        white-space: nowrap;
        i.ss-icon {
          display: inline-block;
          height: 8px;
          font-size: 8px;
        }
      }
      > th.ns-sortable-column.ns-sortable-column-current,
      > th.ns-sortable-column:hover {
        background: $color-table-header-background-hover;
      }
      > th.ns-column-align-right {
        text-align: right;
      }
    }
  }
  > tbody {
    // min-height: 500px;
    > tr {
      > td {
        padding: 7px 10px 8px 10px;
        background: $color-page-background;
      }
      > td.ns-column-align-right {
        text-align: right;
      }
    }
    > tr:nth-child(even) {
      > td {
        background: $color-table-zebra-background;
      }
    }
    > tr.ns-table-1-result {
      > td {
        height: 38px;
        overflow: visible;
      }
    }
    > tr.ns-row-current {
      > td {
        background: $color-table-header-background-hover;
      }
    }
    > tr.ns-table-total {
      > td {
        font-size: 18px;
        line-height: 30px;
        text-align: right;
        font-weight: bold;
        background: #FFFDDB;
      }
    }
  }
  > tbody.ns-table-no-results {
    display: block;
    height: 112px;
  }
  > tbody.ns-table-no-results:after {
    display: block;
    padding: 20px 0 20px 15px;
    font-style: italic;
    content: "No results."
  }
}







