// **************************************************
// Begin: "Throbber Plugin"
// **************************************************


#ns-throbber {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #000000 url("/assets/core/throbber.gif") no-repeat 0 0;  
}


// **************************************************
// End: "Throbber Plugin"
// **************************************************