// **************************************************
// Begin: "Warning Popup Plugin"
// **************************************************

#ns-warning {
  display: block;
  width: 300px;
  padding: 15px 20px 20px 20px;
  background: #ffffff;
  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 960;
  @include translateX(-50%);
  @include border-radius(4px);
  @include box-shadow(0 1px 7px #000000);
  @include box-sizing(border-box);
  h3#ns-warning-header {
    margin: 0 0 5px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
  p#ns-warning-body {
    margin: 0 0 20px 0;
  }
  .ns-button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  button {
    float: left;
    margin: 0 10px 0 0;
  }
  .ns-button+.ns-button,
  input[type="submit"]+input[type="submit"],
  input[type="button"]+input[type="button"],
  input[type="reset"]+input[type="reset"],
  button+button {
    margin: 0;
  }
}

// **************************************************
// End: "Warning Popup Plugin"
// **************************************************








