  <footer class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="ns-footer-left">
        &copy; {{nsStateMachine.currentYear}} Client Name LLC. All rights reserved.
      </div>
      <!-- #ns-footer-left -->
      <div id="ns-footer-right">
        Product by <a href="http://www.nightsprout.com/">Nightsprout LLC</a>.
      </div>
      <!-- #ns-footer-right -->
    </div>
    <!-- .ns-section-wrapper -->
  </footer>
  <!-- footer.ns-section-main -->