  <footer class="ns-section-main">
    <div class="ns-section-wrapper">
      <h3 class="ns-header-basic">H3 Header (Footer)</h3><!-- .ns-header-basic -->
    </div>
    <!-- .ns-section-wrapper -->
  </footer>
  <!-- footer.ns-section-main -->