<nav class="ns-section-main">
  <div class="ns-section-wrapper">
    <a id="ns-home">
      <img src="#" alt="Application logo (links to home page)." />
    </a>
    <!-- #ns-home -->
    <ol id="ns-navigation">
      <li><a href="#">Menu Item 1</a></li>
      <li><a href="#">Menu Item 2</a></li>
      <li><a href="#">Menu Item 3</a></li>
      <li><a href="#">Menu Item 4</a></li>
      <li><a href="#">Menu Item 5</a></li>
    </ol>
    <!-- #ns-navigation -->
  </div>
  <!-- .ns-section-wrapper -->
</nav>
<!-- nav.ns-section-main -->