  <nav class="ns-section-main">
    <div class="ns-section-wrapper">
      <a id="ns-home" href="/">
        <img src="<%= asset_path("core/nav-logo.png") %>" alt="Application logo (links to home page)." />
      </a>
      <!-- #ns-home -->
      <%= render :partial => "shared/throbber" %>
      <ol id="ns-navigation">
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/sample">Sample</a></li>
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/tables">Tables</a></li>
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/warnings">Warnings</a></li>
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/buttons">Buttons</a></li>
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/forms">Forms</a></li>
        <li><a ng-click="nsStateMachine.navDrawer.hide()" href="/icons">Icons</a></li>
      </ol>
      <!-- #ns-navigation -->
    </div>
    <!-- .ns-section-wrapper -->
  </nav>
  <!-- nav.ns-section-main -->