  <div
    id="ns-slide-controls"
    class="ns-section-main"
    ng-click="nsStateMachine.navDrawer.toggle()"
    >
    <div class="ns-section-wrapper">
      <div id="ns-slide-control-left"></div><!-- #ns-slide-control-left -->
    </div>
    <!-- .ns-section-wrapper -->
  </div>
  <!-- #ns-slide-controls.ns-section-main -->