  <div
    id="ns-throbber"
    ng-if="nsStateMachine.throbber.isVisible"
    ng-class="{ 'ns-throbber-visible' : nsStateMachine.throbber.isVisible }"
    >
    &nbsp;
  </div>
  <!-- #ns-throbber -->