  <div
    id="ns-warning-background"
    ng-if="nsStateMachine.warningPopup.isVisible"
    >
  </div>
  <!-- #ns-warning-background -->
  <div
    id="ns-warning"
    ng-if="nsStateMachine.warningPopup.isVisible"
    >
    <h3>{{nsStateMachine.warningPopup.headerText}}</h3>
    <p>{{nsStateMachine.warningPopup.bodyText}}</p>
    <button ng-click="nsStateMachine.warningPopup.primaryAction()">Confirm Action</button>
    <button ng-click="nsStateMachine.warningPopup.close()">Cancel Action</button>
  </div>
  <!-- #ns-warning -->