  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      <a class="ns-button" href="#">Anchor Button</a>
      <button>Button Button</button>
      <input type="submit" value="Input Submit Button" />
      <input type="button" value="Input Button Button" />
      <input type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-small" href="#">Anchor Button</a>
      <button class="ns-button-small">Button Button</button>
      <input class="ns-button-small" type="submit" value="Input Submit Button" />
      <input class="ns-button-small" type="button" value="Input Button Button" />
      <input class="ns-button-small" type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-large" href="#">Anchor Button</a>
      <button class="ns-button-large">Button Button</button>
      <input class="ns-button-large" type="submit" value="Input Submit Button" />
      <input class="ns-button-large" type="button" value="Input Button Button" />
      <input class="ns-button-large" type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-confirm" href="#">Anchor Button</a>
      <button class="ns-button-confirm">Button Button</button>
      <input class="ns-button-confirm" type="submit" value="Input Submit Button" />
      <input class="ns-button-confirm" type="button" value="Input Button Button" />
      <input class="ns-button-confirm" type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-warning" href="#">Anchor Button</a>
      <button class="ns-button-warning">Button Button</button>
      <input class="ns-button-warning" type="submit" value="Input Submit Button" />
      <input class="ns-button-warning" type="button" value="Input Button Button" />
      <input class="ns-button-warning" type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-caution" href="#">Anchor Button</a>
      <button class="ns-button-caution">Button Button</button>
      <input class="ns-button-caution" type="submit" value="Input Submit Button" />
      <input class="ns-button-caution" type="button" value="Input Button Button" />
      <input class="ns-button-caution" type="reset" value="Input Reset Button" />

      <hr />

      <a class="ns-button ns-button-line" href="#">Anchor Button</a>
      <button class="ns-button-line">Button Button</button>
      <input class="ns-button-line" type="submit" value="Input Submit Button" />
      <input class="ns-button-line" type="button" value="Input Button Button" />
      <input class="ns-button-line" type="reset" value="Input Reset Button" />

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

