<div class="ns-angular-controller" ng-controller="sampleController">

  <div id="ns-banner" class="ns-section-main">
    <div class="ns-section-wrapper">
      <h1 class="ns-header-basic">H1 Header (Banner)</h1><!-- .ns-header-basic -->
    </div>
    <!-- .ns-section-wrapper -->
  </div>
  <!-- #ns-banner.ns-section-main -->

  <main class="ns-section-main">
    <div class="ns-section-wrapper">

      <h2 class="ns-header-basic">H2 Header (Main)</h2><!-- .ns-header-basic -->

      <hr />

      <ol class="ns-module-triple">
        <li>
          <h3 class="ns-header-basic">H3 Header</h3><!-- .ns-header-basic -->
          <p>Bacon ipsum dolor sit amet pork belly andouille ribeye short ribs shoulder salami t-bone capicola. Turducken cow filet mignon flank landjaeger andouille. Leberkas shank spare ribs pork belly sirloin jerky frankfurter ball tip strip steak beef ribs meatball. Drumstick beef andouille ham hock capicola, spare ribs jowl. Doner chicken bacon pancetta, chuck boudin jowl corned beef sausage. Boudin bacon turkey, sausage brisket landjaeger biltong sirloin frankfurter strip steak.</p>
        </li>
        <li>
          <h3 class="ns-header-basic">H3 Header</h3><!-- .ns-header-basic -->
          <p>Bacon ipsum dolor sit amet pork belly andouille ribeye short ribs shoulder salami t-bone capicola. Turducken cow filet mignon flank landjaeger andouille. Leberkas shank spare ribs pork belly sirloin jerky frankfurter ball tip strip steak beef ribs meatball. Drumstick beef andouille ham hock capicola, spare ribs jowl. Doner chicken bacon pancetta, chuck boudin jowl corned beef sausage. Boudin bacon turkey, sausage brisket landjaeger biltong sirloin frankfurter strip steak.</p>
        </li>
        <li>
          <h3 class="ns-header-basic">H3 Header</h3><!-- .ns-header-basic -->
          <p>Bacon ipsum dolor sit amet pork belly andouille ribeye short ribs shoulder salami t-bone capicola. Turducken cow filet mignon flank landjaeger andouille. Leberkas shank spare ribs pork belly sirloin jerky frankfurter ball tip strip steak beef ribs meatball. Drumstick beef andouille ham hock capicola, spare ribs jowl. Doner chicken bacon pancetta, chuck boudin jowl corned beef sausage. Boudin bacon turkey, sausage brisket landjaeger biltong sirloin frankfurter strip steak.</p>
        </li>
      </ol>
      <!-- .ns-module-triple -->

      <hr />

      <ol class="ns-module-triple">
        <li>
          <form class="ns-form-basic">
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
          </form>
          <!-- .ns-form-basic -->
        </li>
        <li>
          <form class="ns-form-basic">
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
          </form>
          <!-- .ns-form-basic -->
        </li>
        <li>
          <form class="ns-form-basic">
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
            <div class="ns-form-row">
              <div class="ns-form-row-left">
                <label>Form Label</label>
              </div>
              <!-- .ns-form-row-left -->
              <div class="ns-form-row-right">
                <input type="text" placeholder="Form Input" />
              </div>
              <!-- .ns-form-row-right -->
            </div>
            <!-- .ns-form-row -->
          </form>
          <!-- .ns-form-basic -->
        </li>
      </ol>
      <!-- .ns-module-triple -->

      <hr />

      <form class="ns-form-basic">
        <div class="ns-form-row">
          <div class="ns-form-row-left">
            <label>Form Label</label>
          </div>
          <!-- .ns-form-row-left -->
          <div class="ns-form-row-right">
            <input type="text" placeholder="Form Input" />
          </div>
          <!-- .ns-form-row-right -->
        </div>
        <!-- .ns-form-row -->
        <div class="ns-form-row">
          <div class="ns-form-row-left">
            <label>Form Label</label>
          </div>
          <!-- .ns-form-row-left -->
          <div class="ns-form-row-right">
            <input type="text" placeholder="Form Input" />
          </div>
          <!-- .ns-form-row-right -->
        </div>
        <!-- .ns-form-row -->
      </form>
      <!-- .ns-form-basic -->

    </div>
    <!-- .ns-section-wrapper -->
  </main>
  <!-- main.ns-section-main -->


  <section class="ns-section-main">
    <div class="ns-section-wrapper">








      <div class="ns-table-utilities">
        <div class="ns-table-utilities-left">
          <input ng-model="inventorySearch" type="text" placeholder="Search inventory by keyword(s) ..." />
          <label>
            <em><ng-pluralize count="filteredInventory.length" when="{'0': 'No result found out', 'one': 'Showing 1 result out', 'other': 'Showing {} results out'}"></ng-pluralize> of {{inventory.length}} in total.</em>
          </label><!-- .ns-form-label-inline -->
        </div>
        <!-- .ns-table-utilities-left -->
        <div class="ns-table-utilities-right">
          <button class="ns-button">Table Utility 1</button><!-- button.ns-button -->
          <button class="ns-button">Table Utility 2</button><!-- button.ns-button -->
          <button class="ns-button">Table Utility 3</button><!-- button.ns-button -->
        </div>
        <!-- .ns-table-utilities-right -->
      </div>
      <!-- .ns-table-utilities -->

      <div class="ns-table-wrapper">
        <table class="ns-table">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('inventory', 'piece_id');"
                ng-class="{ 'ns-sortable-column-current' : tableStates['inventory']['currentColumn'] == 'piece_id' }"
                >
                Piece ID <i
                  ng-if="columnIsAscending('inventory', 'piece_id');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('inventory', 'piece_id');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('inventory', 'piece_name');"
                ng-class="{ 'ns-sortable-column-current' : tableStates['inventory']['currentColumn'] == 'piece_name' }"
                >
                Name <i
                  ng-if="columnIsAscending('inventory', 'piece_name');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('inventory', 'piece_name');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('inventory', 'piece_creation_date');"
                ng-class="{ 'ns-sortable-column-current' : tableStates['inventory']['currentColumn'] == 'piece_creation_date' }"
                >
                Creation Date <i
                  ng-if="columnIsAscending('inventory', 'piece_creation_date');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('inventory', 'piece_creation_date');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('inventory', 'piece_price');"
                ng-class="{ 'ns-sortable-column-current' : tableStates['inventory']['currentColumn'] == 'piece_price' }"
                >
                Price <i
                  ng-if="columnIsAscending('inventory', 'piece_price');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('inventory', 'piece_price');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th>Select?</th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="piece in filteredInventory = (inventory
                | filter: inventorySearch
                | orderBy: tableStates['inventory']['currentColumn']:tableStates['inventory']['reverseState'])"
              ng-class="{ 'ns-row-current' : selectedItems.hasOwnProperty(piece.piece_id) }"
              >
              <td>{{piece["piece_id"]}}</td>
              <td>{{piece["piece_name"]}}</td>
              <td>{{piece["piece_creation_date"] | date: 'medium'}}</td>
              <td>{{piece["piece_price"] | currency}}</td>
              <td>
                <input
                  type="checkbox"
                  ng-model="selectedItems[piece.piece_id]"
                  ng-change="updateselectedItems(selectedItems[piece.piece_id], piece.piece_id);"
                  />
                </td>
            </tr>
          </tbody>
        </table>
        <!-- .ns-table -->
      </div>
      <!-- .ns-table-wrapper -->

      <div class="ns-table-utilities">
        <div class="ns-table-utilities-left">
          <input ng-model="metalSearch" type="text" placeholder="Search metal by keyword(s) ..." />
          <label>
            <em><ng-pluralize count="filteredStones.length" when="{'0': 'No result found out', 'one': 'Showing 1 result out', 'other': 'Showing {} results out'}"></ng-pluralize> of {{piece.piece_pricing.metal.length}} in total.</em>
          </label><!-- .ns-form-label-inline -->
        </div>
        <!-- .ns-table-utilities-left -->
        <div class="ns-table-utilities-right">
          
        </div>
        <!-- .ns-table-utilities-right -->
      </div>
      <!-- .ns-table-utilities -->

      <div class="ns-table-wrapper">
        <table class="ns-table">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'name');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'name' }"
                >
                Metal <i
                  ng-if="columnIsAscending('metal', 'name');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'name');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'description');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'description' }"
                >
                Description <i
                  ng-if="columnIsAscending('metal', 'description');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'description');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'weight');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'weight' }"
                >
                Weight <i
                  ng-if="columnIsAscending('metal', 'weight');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'weight');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'source');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'source' }"
                >
                Source <i
                  ng-if="columnIsAscending('metal', 'source');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'source');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'style_number');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'style_number' }"
                >
                Style # <i
                  ng-if="columnIsAscending('metal', 'style_number');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'style_number');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('metal', 'cost');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'cost' }"
                >
                Cost <i
                  ng-if="columnIsAscending('metal', 'cost');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('metal', 'cost');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="piece in filteredStones = (piece.piece_pricing.metal
                | filter: metalSearch
                | orderBy: tableStates['metal']['currentColumn']:tableStates['metal']['reverseState'])"
              >
              <td>{{piece["name"]}}</td>
              <td>{{piece["description"]}}</td>
              <td>{{piece["weight"]}}</td>
              <td>{{piece["source"]}}</td>
              <td>{{piece["style_number"]}}</td>
              <td>{{piece["cost"] | currency}}</td>
            </tr>
          </tbody>
        </table>
        <!-- .ns-table -->
      </div>
      <!-- .ns-table-wrapper -->

      <div class="ns-table-utilities">
        <div class="ns-table-utilities-left">
          <input ng-model="stoneSearch" type="text" placeholder="Search stones by keyword(s) ..." />
          <label>
            <em><ng-pluralize count="filteredStones.length" when="{'0': 'No result found out', 'one': 'Showing 1 result out', 'other': 'Showing {} results out'}"></ng-pluralize> of {{piece.piece_pricing.stones.length}} in total.</em>
          </label><!-- .ns-form-label-inline -->
        </div>
        <!-- .ns-table-utilities-left -->
        <div class="ns-table-utilities-right">
          <button class="ns-button">Table Utility 1</button><!-- button.ns-button -->
          <button class="ns-button">Table Utility 2</button><!-- button.ns-button -->
          <button class="ns-button">Table Utility 3</button><!-- button.ns-button -->
        </div>
        <!-- .ns-table-utilities-right -->
      </div>
      <!-- .ns-table-utilities -->

      <div class="ns-table-wrapper">
        <table class="ns-table">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'name');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'name' }"
                >
                Name <i
                  ng-if="columnIsAscending('stones', 'name');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'name');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'count');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'count' }"
                >
                Count <i
                  ng-if="columnIsAscending('stones', 'count');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'count');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'weight');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'weight' }"
                >
                Weight <i
                  ng-if="columnIsAscending('stones', 'weight');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'weight');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'lab_rating');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'lab_rating' }"
                >
                Lab Rating <i
                  ng-if="columnIsAscending('stones', 'lab_rating');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'lab_rating');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'certification_number');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'certification_number' }"
                >
                Certification # <i
                  ng-if="columnIsAscending('stones', 'certification_number');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'certification_number');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'measurements');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'measurements' }"
                >
                Dimensions <i
                  ng-if="columnIsAscending('stones', 'measurements');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'measurements');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'source');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'source' }"
                >
                Source <i
                  ng-if="columnIsAscending('stones', 'source');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'source');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'supplier_lot_number');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'supplier_lot_number' }"
                >
                Lot Number <i
                  ng-if="columnIsAscending('stones', 'supplier_lot_number');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'supplier_lot_number');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'dollar_per_carat');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'dollar_per_carat' }"
                >
                $ Per Carat <i
                  ng-if="columnIsAscending('stones', 'dollar_per_carat');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'dollar_per_carat');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
              <th
                class="ns-sortable-column"
                ng-click="setActiveColumn('stones', 'cost');"
                ng-class="{ 'ns-sortable-column-current' : activeColumn == 'cost' }"
                >
                Cost <i
                  ng-if="columnIsAscending('stones', 'cost');"
                  class="ss-icon"
                  >
                  down
                </i>
                <i
                  ng-if="columnIsDescending('stones', 'cost');"
                  class="ss-icon"
                  >
                  up
                </i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="piece in filteredStones = (piece.piece_pricing.stones
                | filter: stoneSearch
                | orderBy: tableStates['stones']['currentColumn']:tableStates['stones']['reverseState'])"
              >
              <td>{{piece["name"]}}</td>
              <td>{{piece["count"]}}</td>
              <td>{{piece["weight"]}}</td>
              <td>{{piece["lab_rating"]}}</td>
              <td>{{piece["certification_number"]}}</td>
              <td>{{piece["measurements"]}}</td>
              <td>{{piece["source"]}}</td>
              <td>{{piece["supplier_lot_number"]}}</td>
              <td>{{piece["dollar_per_carat"] | currency}}</td>
              <td>{{piece["cost"] | currency}}</td>
            </tr>
          </tbody>
        </table>
        <!-- .ns-table -->
      </div>
      <!-- .ns-table-wrapper -->

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

</div>
<!-- .ns-angular-controller -->






