  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      Welcome to your new Nightsprout App!

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

