
  <section class="ns-section-main">

    <div class="top-color-section"><div class="top-color-bar"></div><div class="top-color-bar blue"></div><div class="top-color-bar light-blue"></div><div class="top-color-bar gray"></div><div class="top-color-bar light-gray"></div><div class="top-color-bar"></div><div class="top-color-bar blue"></div><div class="top-color-bar gray"></div><div class="top-color-bar light-gray"></div><div class="top-color-bar blue"></div></div>

    <header class="re-header">
      <img class ="re-logo" src="<%= asset_path("core/reveal_estate_logo.gif") %>" src="#" alt="Reveal Estate Logo: A blue silhouette of a house with the words 'reveal estate' in lowercase sans-serif font." />
      <nav class="re-nav-bar">
        <div class="re-nav-button-box">
          <button class="re-nav-button">Discover</button>
        </div> 
        <div class="re-nav-button-box">
          <button class="re-nav-button">Offer</button>
        </div> 
        <div class="re-nav-button-box">
          <button class="re-nav-button">Close</button>
        </div>
      </nav>
    </header>


    <div class="ns-section-wrapper">  
      <div class="re-video-box">
        <img class="re-video-image" src="http://uploads.webflow.com/540db40b0718f9d21b72e001/541b34ceae7d30a115fa7854_Play%20Video%20(2).png" width="850" alt="541b34ceae7d30a115fa7854_Play%20Video%20(2).png">
      </div>
      <div class="re-module-box">
        <p>Reveal Estate is a platform to help you through each step of buying your dream home. And we save you thousands at the same time.</p>
        <form class="main-sign-up" id="email-form" name="email-form" data-name="Email Form">
          <input class="sign-up-field" id="email-10" type="email" placeholder="enter your email address (we don't spam)" name="email-10" data-name="Email 10" required="required">
          <input type="submit" value="sign up for free" />
        </form>
      </div>
      <!-- .re-module-box -->

      <div class="re-module-box">
        <h3 class="re-h3">Exactly how much will you save with Reveal Estate?</h3>
        <p>When you are your own buyer's agent, you take the buyer's agent cut.</p>
        <form>
         <input type="submit" value="calculate savings" />
        </form>
      </div>
      <!-- .re-module-box -->

      <div class="re-module-box">
        <h3 class="re-h3">Budget Calculator</h3>
        <p>The Reveal Estate budget calculator works a little differently than most estimators. We like to think it's more realistic. <a>Learn more about our math.</a></p>
        <form>
         <input type="submit" value="calculate budget" />
        </form>
      </div>
    <!-- .re-module-box -->

      <div class="re-module-box">
        <h3 class="re-h3">Get Pre-Qualified</h3>
        <p>Are you ready to talk to a lender? We can help get the conversation started (and we will help move it along through the entire home-buying process).</p>
        <p>The first step is a simple call to get prequalified. Create an account, and we’ll get the ball rolling. </p>
        <form>
          <input class="sign-up-field" id="email-10" type="email" placeholder="enter your email address (we don't spam)" name="email-10" data-name="Email 10" required="required">
          <input type="submit" value="sign up for free" />
        </form>
      </div>
    <!-- .re-module-box -->
    </div>
    <!-- .ns-section-wrapper -->

    <footer class="re-footer">
      <div class="w-container">
        <h3 class="re-h3 re-footer-h3">Your Estimated Savings with Reveal Estate: $3,500</h3>
        <a class="re-footer-link" href="#">How We Save You Money</a>
        <a class="re-footer-link" href="#">About Reveal Estate</a>
        <a class="re-footer-link" href="#">Need Help? We’re here</a>
        <a class="re-footer-link" href="#">Get Tips on Our Blog</a>
      </div>
      <div class="re-copyright-div">
       <p>© Reveal Estate 2014&nbsp;• privacy policy&nbsp;• made with love in atlanta</p>
      </div>
    </footer>

  </section>
  <!-- section.ns-section-main -->
