

  <section class="ns-section-main">
    <div class="ns-section-wrapper">

      warnings.html.erb

      <br />
      <br />
      <br />
      <br />
      <br />

      <button ng-click="nsStateMachine.notifications.methods.createNotification('warning_example', 'warning', 'This is a warning.')">Create a Warning Notification.</button>
      <button ng-click="nsStateMachine.notifications.methods.createNotification('caution_example', 'caution', 'This is a caution.')">Create a Caution Notification.</button>
      <button ng-click="nsStateMachine.notifications.methods.createNotification('success_example', 'success', 'This is a success.')">Create a Success Notification.</button>

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- section.ns-section-main -->

