/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$color-primary: #6bc6b5;
$color-secondary: #20484a;
$color-tertiary: #cd252f;
$color-accent: #20484a;

$color-anchor-text: #20484a;
$color-body-text: #404040;
$color-header-text: #404040;

$color-line: #e6e6e6;

$color-body-background: #ffffff;
$color-page-background: #ffffff;

$color-top-bar-background: #191818;
$color-top-bar-text: #ffffff;

$color-footer-background: #191818;
$color-footer-text: #ffffff;

$color-button-background: #191818;
$color-button-text: #ffffff;

$color-form-input-outline: #e6e6e6;
$color-form-input-background: transparent;
$color-form-input-text: #404040;



/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns: 12;
$column-width: 56px;
$gutter-width: 48px;
$grid-padding: 0;


/* Font Stacks */
/************************************************/



$font-header: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-body: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-icons: "SSStandard";
$font-icons-social: "SSSocial";


@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";

@import "shared/_button";
@import "shared/_form";


body {
  font-family: $font-body;
  font-size: 14px;
  line-height: 20px;
}








/* Scaffolding Tools */
/************************************************/

.ns-section-main {          // This class denotes a main page section.
  display: inline-block;
  float: left;
  width: 100%;
  > .ns-section-wrapper {   // This class wraps content inside of a main page section, to give it width.
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    @include legacy-pie-clearfix;
    @include screen-format(monitor) {
      width: $monitor-breakpoint - 40px; // The subtraction of 40px accounts for the container padding.
    }
  }
}


/* Main Page Section: Navigation */
/************************************************/

nav.ns-section-main {
  position: fixed;
  > #ns-home {
    display: inline-block;
    float: left;
    > img {
      display: inline-block;
      float: left;
    }
  }
  ol#ns-navigation {
    display: inline-block;
    float: right;
    > li {
      display: inline-block;
      float: left;
      > a {
        display: inline-block;
        float: left;
      }
    }
  }
}

/* Main Page */
/************************************************/

#ns-page-main {   // This holds all the content that can slide right when the slider is activated in "mobile mode".
  #ns-slide-controls.ns-section-main {}
  #ns-banner.ns-section-main {}
  section.ns-section-main {}
  main.ns-section-main {}
  footer.ns-section-main {}
}



#ns-slide-controls.ns-section-main {}
#ns-banner.ns-section-main {}
section.ns-section-main {}
main.ns-section-main {}
footer.ns-section-main {}





header {}
article {} // not sure
aside {} // not sure


h1, h2, h3, h4, h5, h6 {}

a {}
a:hover {}

p {}

strong {}
em {}

ol.ns-bulleted-list,
ul.ns-bulleted-list {
  > li {}
}

hr {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 15px 0 24px 0;
  border: none;
  color: $color-line;
  background: $color-line;
}











