
  <div id="ns-banner" class="ns-section-main">
    <div class="ns-section-wrapper">
      <h1 class="ns-header-basic">Solo Queue</h1>
      <p>Solo Queue is a fast, easy way to get data on champs and items in League of Legends. Put that 30 seconds during ranked champion selection to good use! Just start typing in the search bar to get instant results like counterpicks, champ abilities, and item stats.</p>
      <input id="ns-search-champions" type="text" ng-model="searchChampions.name" placeholder="Search for a champion ..." />
    </div>
    <!-- .ns-section-wrapper -->
  </div>
  <!-- #ns-banner -->

  <main class="ns-section-main">
    <div class="ns-section-wrapper">

      <ol id="ns-champions">
        <li ng-repeat="champion in champions | orderBy:orderPredicate | filter:searchChampions" >
          <h3 class="ns-header-basic">{{champion.name}}</h3>
          <ul class="ns-champion-stats">
            <li><strong>Armor:</strong> <span>{{champion.stats.armor}} (+{{champion.stats.armorperlevel}})</span></li>
            <li><strong>Attack Dmg:</strong> <span>{{champion.stats.attackdamage}} (+{{champion.stats.attackdamageperlevel}})</span></li>
            <li><strong>Range:</strong> <span>{{champion.stats.attackrange}}</span></li>
            <li><strong>ASPD:</strong> <span>{{champion.stats.attackspeedoffset}} (+{{champion.stats.attackspeedperlevel}}%)</span></li>
            <li><strong>Crit:</strong> <span>{{champion.stats.crit}} (+{{champion.stats.critperlevel}})</span></li>
            <li><strong>HP:</strong> <span>{{champion.stats.hp}} (+{{champion.stats.hpperlevel}})</span></li>
            <li><strong>HP Regen:</strong> <span>{{champion.stats.hpregen}} (+{{champion.stats.hpregenperlevel}})</span></li>
            <li><strong>Move Speed:</strong> <span>{{champion.stats.movespeed}}</span></li>
            <li><strong>MP:</strong> <span>{{champion.stats.mp}} (+{{champion.stats.mpperlevel}})</span></li>
            <li><strong>MP Regen:</strong> <span>{{champion.stats.mpregen}} (+{{champion.stats.mpregenperlevel}})</span></li>
            <li><strong>MR:</strong> <span>{{champion.stats.spellblock}} (+{{champion.stats.spellblockperlevel}})</span></li>
          </ul>
          <!-- .ns-champion-stats -->
          <ol class="ns-champion-skills">
            <li ng-repeat="spell in champion.spells">
              <h4 class="ns-header-basic">{{evaluateSkillSlot($index);}} - {{spell.name}}</h4>
              <p>{{spell.description}}</p>
              <p ng-bind-html="spell.tooltip"></p>
            </li>
          </ol>
          <!-- .ns-champion-skills -->
        </li>
      </ol>
      <!-- .ns-champions -->

    </div>
    <!-- .ns-section-wrapper -->
  </main>
  <!-- main.ns-section-main -->






