

  <main class="ns-section-main">
    <div class="ns-section-wrapper">

      <table>
        <tr>
          <td>{{masteryTree.defense.tier1[0].name}}</td>
          <td>{{masteryTree.defense.tier1[1].name}}</td>
          <td>{{masteryTree.defense.tier1[2].name}}</td>
          <td>{{masteryTree.defense.tier1[3].name}}</td>
        </tr>
        <tr>
          <td>{{masteryTree.defense.tier2[0].name}}</td>
          <td>{{masteryTree.defense.tier2[1].name}}</td>
          <td>{{masteryTree.defense.tier2[2].name}}</td>
          <td>{{masteryTree.defense.tier2[3].name}}</td>
        </tr>
        <tr>
          <td>{{masteryTree.defense.tier3[0].name}}</td>
          <td>{{masteryTree.defense.tier3[1].name}}</td>
          <td>{{masteryTree.defense.tier3[2].name}}</td>
          <td>{{masteryTree.defense.tier3[3].name}}</td>
        </tr>
        <tr>
          <td>{{masteryTree.defense.tier4[0].name}}</td>
          <td>{{masteryTree.defense.tier4[1].name}}</td>
          <td>{{masteryTree.defense.tier4[2].name}}</td>
          <td>{{masteryTree.defense.tier4[3].name}}</td>
        </tr>
        <tr>
          <td>{{masteryTree.defense.tier5[0].name}}</td>
          <td>{{masteryTree.defense.tier5[1].name}}</td>
          <td>{{masteryTree.defense.tier5[2].name}}</td>
          <td>{{masteryTree.defense.tier5[3].name}}</td>
        </tr>
        <tr>
          <td>{{masteryTree.defense.tier6[0].name}}</td>
          <td>{{masteryTree.defense.tier6[1].name}}</td>
          <td>{{masteryTree.defense.tier6[2].name}}</td>
          <td>{{masteryTree.defense.tier6[3].name}}</td>
        </tr>
      </table>

    </div>
    <!-- .ns-section-wrapper -->
  </main>
  <!-- main.ns-section-main -->







